
body {
    padding: 0;
    margin: 0;
}

.container {

    margin: 0 auto;
    height: 600px;

}

header {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {

    text-align: right;
}

.award {
    text-align: center;
    margin-left: 100px;
}

.header .logo {
    display: inline-block;
    text-align: center;
}

.sign-search {
    padding-top: 25px;
    padding-left: 170px;
}

.sign {
    padding-left: 150px;
    padding-bottom: 5px;
}

#text-sgin {
    color: #827676;
    text-decoration: none;
    font-size: 17px;
}

#icon-home {
    padding-right: 50px;
    color: #2b82ac;
    /* border-left:1px solid gray ; */
}

#icon-sign {
    color: #3c3535;
    font-size: 20px;
}

#search {
    padding: 5px;
    width: 220px;
    height: 20px;
    border-radius: 3px;
}

#icon-search {
    font-size: 20px;
    line-height: 30px;
}

nav {
    text-align: center;
    line-height: 50px;

    height: 50px;
    background-color: #f2b002;
}



nav a {

    padding: 0 15px;

    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}


#about li a{
  
    width: 30px;
}

nav ul li {

    display: inline-block;
}
.li-home{
    border-left: 0.5px solid rgb(87, 82, 82);
}
    

nav>ul>li {
    border-right: 0.5px solid rgb(87, 82, 82);
}

h2 {
    height: 25px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;

    font-style: italic;
    color: red;
    padding-top: 5px;
    margin-block-start: 0;
    /* margin-block-end: 0; */
}

/* about *******/
.menu ul li {
    position: relative;
}
.menu ul li>.about {
    display: none;
    position: absolute;
}
.menu ul li:hover .about {
    display: block;
    background-color: white;

}


.menu ul li a:hover {
   
    color: #2b82ac;
}
.menu>ul>li>ul {
    padding-inline-start: 0px;
    
}

.about a {

    
    display: block;
    width: 110px;
    border: 1px solid grey;
    /* right: 10px; */
    text-align: left;

   
}
#about1 {
    padding-right: 7px;
    color: orange;
}

#about2 {
    padding-right: 12px;
    color: orange;

}

#about3 {
    padding-right: 7px;
    color: orange;

}
/* about********** */
.menu>ul>li>.group{
    position: absolute;
    display: none;
}
.menu>ul>li:hover>.group{
    display: block;
    background-color: white;
}
.group a{
    display: block;
    width: 150px;
    border: 1px solid grey;
    text-align: left;


} 

.menu>ul>li>.newss{
    position: absolute;
    display: none;
}
.menu>ul>li:hover>.newss{
    background-color: white;
    display: block;
}
.newss a{
    display: block;
    width: 170px;
    border: 1px solid grey;
    text-align: left;
}

.menu>ul>li>.vocational-guidance {
    position: absolute;
    display: none;
}
.menu>ul>li:hover>.vocational-guidance {
    background-color: white;
    display: block;
}
.vocational-guidance  a{
    display: block;
    width: 200px;
    border-bottom: 1px solid grey;
    text-align: left;

}
.menu>ul>li>.contact{
    position: absolute;
    display: none;
}
.menu>ul>li:hover>.contact{
    background-color: white;
    display: block;
}
.contact a{
    display: block;
    width: 120px;
    border: 1px solid grey;
    text-align: left;
    
}

.menu>ul>li>.resources{
    position: absolute;
    display: none;
}
.menu>ul>li:hover>.resources{
    background-color: white;
    display: block;
}
.resources a{
    display: block;
    width: 150px;
    border: 1px solid grey;
    text-align: left;

}
.menu>ul>li>.education{
    position: absolute;
    display: none;
}
.menu>ul>li:hover>.education{
    background-color: white;
    display: block;
}
.education a{
    display: block;
    width: 220px;
    border: 1px solid grey;
    text-align: left;

}


.li-home {
    padding-left: 50px;
}

marquee {
    height: 35px;
}

#star {
    font-size: 20px;
    padding-right: 2px;
    color: #FBCB0A;
}


.banner {
    background-image: url(img/banner1.jpg);
    height: 0px;
    background-size: 100% 100%;
    padding-bottom: 25%;

}

.big-infomation {

    position: relative;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 75% 1fr;
}

.articel {

    position: relative;
    /* height: 1000px; */
}

.articel-child {
    display: grid;
    grid-template-columns: 65% 35%;
    position: relative;
}

.articel-child a {
    position: absolute;

    top: 20px;
    left: 450px;

    font-size: 21px;
    color: #0053b1;
    text-decoration: none;
}

.articel-child p {
    position: absolute;
    top: 80px;
    left: 450px;
    color: #5c5c5c;

    font-size: 21px;
    font-style: italic;
}

.articel-child img {
    position: absolute;
    left: 20px;
}

.articel-annouce {

    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    top: 300px;


}

.articel-annouce a {
    text-decoration: none;
}


.aside {
    position: relative;
    /* height: 600px; */

}

aside img {
    position: absolute;
    left: 600px;
}

.new {

    display: grid;
    grid-template-columns: 47% 1fr;
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px solid gray;

}

.new a {
    text-decoration: none;
}


#bell {
    color: orange;
}

footer {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 50px;
    text-align: center;
    background-color: #FEF9A7;
    

}

.footer-left {
    font-size: large;
    text-align: left;
    padding-left: 40px;
}

.footer-left h4 {
    color: #3e3e3e;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0;
    display: inline-block;

}

.adress-footer {
    color: #3e3e3e;
    font-size: 14px;
    /* padding-bottom: 5px; */

}

#address {
    color: orange;
}

.phone_number-footer {
    color: #3e3e3e;
    font-size: large;
}

#phone {
    padding: 5px 0;
    color: orange;

}

.footer-right {
    word-spacing: 1px;
    text-align: right;
    padding-right: 170px;
}

.active_person {
    padding-bottom: 5px;
    /* padding-right: 5px; */

}

.sum_person {
        padding-right: 15px;

}

#user {
    color: orange;
    
}

#users {
   

    color: orange;
}

span {
    color: #0053b1;
}

.creat {
    color: orange;
    padding-left: 30px
}

#author {
    
    text-decoration: none;
    font-size: large;
}
.fb-like{
    padding-top: 30px;
    padding-left: 1300px;
}